.Transform {
  .content {
    width: 300px;
    margin: 24vh auto 0;
    background-color: rgba($color: #fff, $alpha: 0.9);
    padding: 60px;
    box-shadow: 0 0 20px rgba($color: #000, $alpha: 0.1);
    border-radius: 2px;
  }

  .title {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000;
    font-weight: 300;
  }

  .result {
    margin-top: 10px;
    font-size: 18px;
    color: #222;
    font-weight: 300;
  }
}
