.Transform {
  .content {
    width: 300px;
    margin: 30vh auto 0;
  }

  .title {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000;
    font-weight: 300;
  }

  .result {
    margin-top: 10px;
    font-size: 18px;
    color: #222;
    font-weight: 300;
  }
}
