@import "../../base";

.PickTime {
  width: 1000px;
  height: 64vh;
  background-color: rgba($color: #fff, $alpha: 0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  overflow: hidden;

  .info {
    margin-top: 10vh;
    font-size: 36px;
    font-weight: 300;
    color: #555;
    text-align: center;
  }

  .handle {
    display: flex;
    margin: 15vh auto 0;
    width: 800px;
    justify-content: space-between;

    .item {
      padding: 30px;
    }

    .title {
      font-size: 16px;
      margin-bottom: 20px;
      color: #000;
      font-weight: 300;
    }

    .input_box {
      position: relative;
      border-bottom: 1px solid #ccc;
    }

    input {
      border: 0;
      border-bottom: 2px solid transparent;
      padding: 6px 0;
      width: 240px;
      font-size: 14px;
      color: #333;
      transition: border 0.3s, color 0.4s;
      background-color: transparent;
      position: relative;
      top: 1px;
      left: 0;

      &:focus {
        border-color: $baseColor;
        color: $baseColor;
      }
    }

    .time {
      margin-top: 10px;
      font-size: 18px;
      color: #222;
      font-weight: 300;
    }
  }
}
