.PickTime {
  width: 800px;
  height: 66vh;
  border-radius: 2px;
  overflow: hidden;
  margin: 5vh auto 0;

  .info {
    margin-top: 12vh;
    margin-left: 220px;
    font-size: 36px;
    font-weight: 300;
    color: #555;
    text-align: left;
  }

  .handle {
    display: flex;
    margin: 10vh auto 0;
    width: 800px;
    justify-content: space-between;

    .item {
      padding: 30px;
    }

    .title {
      font-size: 16px;
      margin-bottom: 20px;
      color: #000;
      font-weight: 300;
    }

    .time {
      margin-top: 10px;
      font-size: 18px;
      color: #222;
      font-weight: 300;
    }
  }
}
