@font-face {
  font-family: 'iconfont';  /* project id 1196271 */
  src: url('//at.alicdn.com/t/font_1196271_7s7tic6ylbr.eot');
  src: url('//at.alicdn.com/t/font_1196271_7s7tic6ylbr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1196271_7s7tic6ylbr.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1196271_7s7tic6ylbr.woff') format('woff'),
  url('//at.alicdn.com/t/font_1196271_7s7tic6ylbr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1196271_7s7tic6ylbr.svg#iconfont') format('svg');
}

.icon {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

body {
  font-family: sans-serif;
  background: #f1f1f1 url("./assets/images/bg.jpeg") no-repeat fixed;
  background-size: cover;
}

.rc-tooltip-inner {
  min-height: 0;
}
