@font-face {
  font-family: 'iconfont';  /* project id 1196271 */
  src: url('//at.alicdn.com/t/font_1196271_q7xl77ixu7.eot');
  src: url('//at.alicdn.com/t/font_1196271_q7xl77ixu7.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1196271_q7xl77ixu7.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1196271_q7xl77ixu7.woff') format('woff'),
  url('//at.alicdn.com/t/font_1196271_q7xl77ixu7.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1196271_q7xl77ixu7.svg#iconfont') format('svg');
}

.icon {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

body {
  font-family: sans-serif;
  background: #f1f1f1 url("./assets/images/bg.jpg") no-repeat fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  .background_tip {
    position: absolute;
    top: 60px;
    right: 60px;
    color: #fff;
    z-index: 9;
  }
}

.rc-tooltip-inner {
  min-height: 0;
}
