* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

body {
  font-family: sans-serif;
  background: #f1f1f1 url('./assets/images/bg.jpg') no-repeat fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  .background_tip {
    position: absolute;
    top: 60px;
    right: 60px;
    color: #fff;
    z-index: 9;
  }
}

.rc-tooltip-inner {
  min-height: 0;
}
