@font-face {
  font-family: 'iconfont';  /* project id 1196271 */
  src: url('//at.alicdn.com/t/font_1196271_jchxztabtj.eot');
  src: url('//at.alicdn.com/t/font_1196271_jchxztabtj.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1196271_jchxztabtj.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1196271_jchxztabtj.woff') format('woff'),
  url('//at.alicdn.com/t/font_1196271_jchxztabtj.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1196271_jchxztabtj.svg#iconfont') format('svg');
}

.icon {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

body {
  font-family: sans-serif;
  background: #f1f1f1 url("https://images.unsplash.com/photo-1554185256-7b994c659b88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&h1080&q=80") no-repeat fixed;
  background-size: cover;
}

.copy_icon {
  color: #999;
  margin-left: 10px;
  cursor: pointer;
}

.building {
  font-size: 16px;
  color: #888;
  transform: rotate(0deg);
  animation: rotate 1s infinite;
  display: inline-block;

  .icon {
    font-size: 50px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  500% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.rc-tooltip-inner {
  min-height: 0;
}
